@import 'backgrounds.scss';
@import 'hovers.scss';

body {
  background-color: #1e2023;
}

//HEADER styles start

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1e2023;
  p {
    color: #FFFFFF;
    font: 14px sans-serif;
    padding: 0 10px;
  }
}

.location-bar {
  border-radius: 5px;
  margin: 8px 0px 0px;
  padding: 8px 36px 8px 6px;
  border: 2px solid #8ed1e9;
  font-size: 16px;
  background: #e7e7e7;
  vertical-align: center;
}

#sensor {
  border-left: 1px solid white;
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    border-top: 4px solid red;
  }
}

#more {

}
.membership {
  text-decoration: underline;
}

//HEADER styles end

//WEATHEMAST styles start

.favorites-bar {
  display: flex;
  flex-direction: row;
  background-color: #1e2023;
  color: white;
  justify-content: space-around;
  border-top: 1px solid dimgray;
  border-bottom: 1px solid dimgray;
}

//WEATHEMAST styles end

// SIGNUPHERO styles start

.alert-signup {
display: flex;
flex-direction: row;
background-color: #333333;
height: 70px;
border-top: 1px solid #575757;
border-bottom: 1px solid #575757;
}

.alert-text {
  margin-top: 13px;
  font-size: 16px;
  font-family: sans-serif;
  color: #FFFFFF;
  margin-left: auto;
}

.subscribe {
  margin-right: auto;
  margin-left: 15px;
  .button-subscribe {
    margin-top: 17px;
    color: #FFFFFF;
    background-color: #15AADC;
    padding: 7.5px 52.5px;
    border-radius: 3px;
    font-size: 15px;
    font-family: sans-serif;
    border: 1px solid transparent;
    border-top: 3px solid transparent;
    border-bottom: 3px solid #008fbf;
    cursor: pointer;
    opacity: 1;
    transition: .25s;

  }

  .button-subscribe a {
    text-decoration: none;
    color: #FFFFFF;
  }

  button:hover {
    background-color: #008fbf;
  }

}

@media screen and (max-width: 595px) {
  .alert-signup {
    display: flex;
    flex-direction: column;
    height: 100px;
    .alert-text {
      margin-right: auto;
      margin-top: 0px;
    }
    .subscribe {
      margin-left: auto;
      .button-subscribe {
        margin-top: 0px;
      }
    }
  }
}

//SIGNUPHERO styles end

//FOOTER styles start

.footer {
  background-color: #1e2023;
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  grid-template-rows: 170px 30px 125px;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.links-left {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.links-middle {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.links-right {
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.links {
  grid-column-start: 2;
  grid-column-end: 3;
}
.links a {
  font-family: sans-serif;
  color: #8ed1e9;
  font-size: 12px;
  margin-top: 1em;
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#cloudPower {
  grid-row: 2;
  grid-column: 2/3;
  text-align: center;
  font-size: 18px;
}

#copyright {
  grid-row: 3;
  grid-column: 2/3;
  text-align: center;
  font-size: 12px;
  img {
    margin-right: auto;
    width: 70%;
  }
}

.footer-logos {
  grid-row: 3;
  grid-column: 3/4;
}

#cloudPower, #copyright {
  color: #fff;
}

@media only screen and (max-width: 640px){
  .footer {
    display: flex;
    flex-direction: column;
  }
  .links {
    display: flex;
    flex-direction: column;
  }
  .links-middle {
    margin-top: 15px;
  }
  .links-right {
    margin-top: 15px;
  }
  .footer-logos {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}


//FOOTER styles end
